<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/router2/pizza">PIZZA</a></li>
                <li><a routerLink="/router2/bamba">BAMBA</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-center">
    <p>JB - FullStack</p>
</footer>